@font-face { font-family: 'UhBeeMiMi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeMiMi.woff') format('woff'); font-weight: normal; font-style: normal; }

.UhBeeMiMi {
  font-family: 'UhBeeMiMi';
  font-size: 16pt;
  font-style: normal;
}

.oxtail {
  font-family: oxtail, serif;
  font-weight: 700;
  font-style: normal;
}

::-moz-selection {
	background: #3ab67f;
	color: #fff;
}
::selection {
	background: #3ab67f;
	color: #fff;
}

 a:link {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:visited {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
  background-color: #3ab67f !important;
  text-decoration: none !important
}

a:active {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

body {
  font-style: 12pt;
  color: #666666 !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.footer-area {
  float: left;
  width: 100%;
}
.footer-container {
  min-height: 160px;
  width: 100%;
  vertical-align: middle;
  padding: 20px 0px 12px 420px;
  display: table;
  position: absolute;
}
.footer-container span {
  display: table-cell;
  vertical-align: middle;
}

.bodywrap {
  width: 100%;
  min-height: calc(100vh - 160px);
}

.router-container {
  float: left;
  width: 880px;
  height: 100%;
  margin-left: 400px;
}

.profile-menu-continer {
  float: left;
  width: 400px;
  position: fixed;
  z-index: 100;
}

.avatar {
  width: 102px;
  cursor: pointer;
}

.logos {
  list-style: none;
  height: 30px;
  padding-left: 0px;
}

.logo {
  margin-right: 8px;
  width: 30px;

  float: left;
}

#job {
  font-size: 18pt;
}

#name {
  line-height: 28px;
  font-size: 36pt;
}

.menu-item {
  font-size: 24pt;
  /* transition: color .5s; */
  cursor: pointer;
}
.menu-item.over {
  color: white !important;
  background-color: #3ab67f !important;
  text-decoration: none !important
}

.menu-item.active {
  color: #3ab67f;
}

.menu-item.unActive {
  /* color: #212121; */
}

.content-wrapper {
  width: 840px;
  margin-left: 20px;
  margin-right: 20px;
}

.content-label {
  margin-left: -36px;
  width: 224px;
  height: 56px;
  background-image: url('/static/img/menu_bg.png');
}

.content-title {
  font-size: 24px;
  color: white;
  margin-left: 40px;
  line-height: 60px;
}

.content-container {
  margin-top: 72px;
}

/* ------------------------------------
  PAGINATE
------------------------------------ */

.pagination {
  margin-top: 100px;
  /* -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important; */
}

.page-item a:hover{
  color: white !important;
  background-color:none !important;
  text-decoration: none !important
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3ab67f !important;
  border-color: #3ab67f !important;
}
    

/* ------------------------------------
  WALL
------------------------------------ */

.wall-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.wall-cover {
  position: absolute;
  z-index: 10;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: width .6s ease-in-out;
}

.wall-cover.active {
  width:100%;
  /* transition: all 2s; */
}

.issues-container {
  position: absolute;
  margin-left: 460px;
  margin-top: 190px;
  z-index:5;
  background-color: white;
  padding: 20px;
  transition: all 0.5;
}

.issue-item {
  line-height: 32px;
}

.issue-item a:visited {
  color: #666666;
}

#myVideo {
  pointer-events: none;
}

/* ------------------------------------
  CARRER
------------------------------------ */
.career-item {
  line-height: 42pt;
}
.career-item .career-text {
  font-size: 36pt;
  /* line-height: 50pt; */
  transition: color 0.5s;
  cursor: pointer;
}
.career-item .career-text.active {
  color: #3ab67f;
}

.career-item .career-item-desc{
  line-height: 20pt;
}

.career-img-gray {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

/* ------------------------------------
  WORKS
------------------------------------ */
.work-item-img {
  width: 840px;
}

.work-item {
  width: 840px;
}
.work-text {
  color: #3ab67f;
  font-size: 36pt;
}
.comment-form {
  float: left;
}
.comment-item div {
  position: relative;
}
.comment-name {
  width: 200px;
  float: left;
}

.works-photo-icon {
  width: 22px;
  margin-right: 4px;
  vertical-align: bottom;
  
}

.wirte-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.works-arrow {
  color: #3ab67f;
  margin-top: -6px;
  vertical-align: middle !important;
}

.works-arrow-btn {
  cursor: pointer;
}

.works-page-text {
  width: 840px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

.img-container ul {
  list-style: none;
  padding: 0px;
}

.img-container ul li {
  margin-bottom: 60px;
}

.work-item-container img {
  border: 1px solid #eeeeee;
}

/* ------------------------------------
  ORDINARY
------------------------------------ */
.ordinary-item {
  height: auto;
  transition: color 0.5s;
  cursor: pointer;
}
.ordinary-text a:link {
  color: #666666 !important;
}
.ordinary-text a:visited {
  color: #666666 !important;
}
.ordinary-text a:active {
  color: #666666 !important;
}
.ordinary-text a:hover {
  color: white !important;
  background-color: #3ab67f !important;
  text-decoration: none !important
}
.ordinary-text {
  font-size: 28pt;
}
.ordinary-sm-text {
  font-size: 12pt;
}
