@font-face { font-family: 'UhBeeMiMi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeMiMi.woff') format('woff'); font-weight: normal; font-style: normal; }

.UhBeeMiMi {
  font-family: 'UhBeeMiMi';
  font-size: 16pt;
  font-style: normal;
}

.oxtail {
  font-family: oxtail, serif;
  font-weight: 700;
  font-style: normal;
}

 a:link {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:visited {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
  background-color: #3ab67f !important;
  text-decoration: none !important
}

a:active {
  color: #3ab67f !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

body {
  font-style: 12pt;
  color: #666666 !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.router-container {
  float: left;
  width: 880px;
  min-height: calc(100vh - 160px);
}

.profile-menu-continer {
  float: left;
  width: 400px;
}

.avatar {
  width: 102px;
  cursor: pointer;
}

#job {
  font-size: 18pt;
}

#name {
  line-height: 28px;
  font-size: 36pt;
}

.menu-item {
  font-size: 24pt;
  transition: color .5s;
  cursor: pointer;
}

.menu-item.active {
  color: #3ab67f;
}

.menu-item.unActive {
  /* color: #212121; */
}

.content-wrapper {
  /* width: 840px; */
  margin-left: 20px;
  margin-right: 20px;
}

.content-label {
  margin-left: -36px;
  width: 224px;
  height: 56px;
  background-image: url('/static/img/menu_bg.png');
}

.content-title {
  font-size: 24px;
  color: white;
  margin-left: 40px;
  line-height: 60px;
}

.content-container {
  margin-top: 72px;
}

/* ------------------------------------
  CARRER
------------------------------------ */
.career-item {
  line-height: 42pt;
}
.career-item .career-text {
  font-size: 42pt;
  /* line-height: 50pt; */
  transition: color 0.5s;
  cursor: pointer;
}
.career-item .career-text.active {
  color: #3ab67f;
}

.career-item .career-item-desc{
  line-height: 20pt;
}

.career-img {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

/* ------------------------------------
  CARRER
------------------------------------ */
.work-item {
  width: 840px;
}
.work-text {
  color: #3ab67f;
  font-size: 36pt;
}


.comment-form {
  float: left;
}
.comment-item div {
  position: relative;
  /* float: left; */
}
.comment-name {
  width: 200px;
  float: left;
}

.wirte-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
}